@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #2b3d51;
    font-family: 'Roboto', sans-serif;
    color:white;
}

h1{
    font-size:2em;
    color:white;
}

.turbolinks-progress-bar{
    background-color:#2b3d51;
}

.post-container{
    border-radius:10px;
    padding:20px;
    overflow:hidden;
    margin-bottom:30px;
    background-color:#eaeaea;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.noOutline:hover{
    outline:none;
}

.noOutline:active{
    outline:none;
}

.noOutline:focus{
    outline:none;
}

.btn-secondary{
    background-color:white;
    border-radius:10px;
}

.btn-primary{
    background-color:#405f86;
    border:none;
    padding:10px;
}

.btn-primary:hover{
}

button{
    transition:all 0.2s ease;
}

button:hover{
    border-bottom:5px solid;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #2c3d50 inset !important;
}

a:hover{
    cursor:pointer;
    color:white;
    text-decoration:none;
}

.panel{
    background:none;
    -webkit-box-shadow: 0 0 0 0px white inset !important;
}

.navbar{
    background-color:#33485F;
    border:none;
    border-radius:0;
    height:70px;
}

.raised{
    box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.15)
}

.halfraised{
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.bg{
    background-color:white;
    border-radius:3px;
    padding:0;
}

.dropdown-menu{
    min-width:250px;
    border-radius:10px;
    overflow:hidden;
}

.nav > li > a:hover, .nav > li > a:focus{
    background:none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background:none;
}

.rounded{
  border-radius:50%;
}